<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
  <!-- Console output -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        [%date{yyyy-MM-dd HH:mm:ss}] %-5level\(%class{0}:%line\) - [%logger{96}] - %msg%n
      </pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- Enable FILE and STDOUT appenders for all log messages.
      By default, only log at info debug and above. -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>